.divAroundAllCurrentOrders {
  display: flex; /* Flexbox for horizontal alignment */
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px; /* Space between child elements */
  align-items: flex-start; /* Align items vertically */
  padding: 20px;
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
}

.divAroundordersPerCustomer {
  /* border: 2px solid green; */
  flex: 1; /* Allow this element to grow */
  border-radius: 10%;
}

.divOrder {
  /* border: 2px solid red; */
  padding: 10px;
  flex: 0 0 auto; /* Prevent shrinking or growing */
}

.errormessage {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.errormessage1 {
  color: orange;
  margin-top: 10px;
  font-weight: bold;
}
